{% extends 'base.html.twig' %}

{% block title %}Afpa-Hébergment - Détails Chambres{% endblock %}

{% block body %}
{% include "commun/header-admin.html.twig" %}
{% include "commun/side-bar-admin.html.twig" %}

<body class="ltr app sidebar-mini light-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!--app-content open-->
            <div class="app-content main-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <div>
                                <h1 class="page-title">Détails Chambres</h1>
                            </div>
                            <div class="ms-auto pageheader-btn">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0);">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page"><a href="{{path('app_comptabilite')}}">Comptabilité</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Détails Chambres</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->



                        
                        <!-- ROW-1 CLOSED -->

                    </div>
                    <!-- CONTAINER CLOSED -->

                </div>
            </div>
            <!--app-content closed-->

        </div>
    </div>
    <!-- PAGE END-->

    {% include "commun/footer.html.twig" %}
    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </a>
</body>
{% endblock %}
